pandas==1.2.5
seaborn==0.12.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
plotly==5.10.0
numpy
scipy
statsmodels==0.14.0
wquantiles==0.6
scikit-learn==1.1.2
tensorflow~=2.14.0
tensorflow-serving-api~=2.14.0  # or tensorflow-serving-api-gpu if gpu

tensorboard~=2.14.1
tensorboard-plugin-profile~=2.14.0
tensorflow-datasets~=4.9.3
tensorflow-hub~=0.15.0
